:root {
  --primary: #ffd700;
  --secondary: #01112e;
  --accent: #8b00ff;
  --bg: #121212;
  --text: #f5f5f5;
  --font-l: 1.24rem;
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: var(--text);
}
body {
  background: var(--secondary);
}

section {
  min-height: 90vh;
  padding: 2rem 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
  min-height: 12vh;
  align-items: center;
}

header .w-w-w,
header .contact {
  display: none;
}

header .logo-section .logo {
  color: var(--text);
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: 551;
}
.logo {
  z-index: 1000;
}

header .hamburger-menu {
  display: block;
  position: relative;
  width: 33px;
  background: none;
  outline: none;
  cursor: pointer;
  z-index: 1000;
}

.hamburger-menu .hamburger-icon,
.hamburger-menu::after,
.hamburger-menu::before {
  content: "";
  display: block;
  background: var(--text);
  width: 100%;
  height: 2px;
  margin: 8px;
  transition: 0.3s;
}

.menu-links {
  display: block;
  position: fixed;
  background: var(--accent);
  min-height: 100vh;
  top: 0;
  left: 100%;
  width: 100%;
  padding-top: 120px;
  transition: 0.5s;
  z-index: 9;
}
.menu-links.active {
  left: 22%;
}
.menu-links a {
  display: block;
  text-decoration: none;
  font-size: 20px;
  font-weight: 550;
  text-align: center;
  /* margin: 0 auto 19px; */
  margin: 1rem 1rem;
  color: var(--secondary);
  font-family: sans-serif;
  /* background-color: #b475e7; */
  border-bottom: 1px solid #01112e;
  padding: 18px 18px;
  width: 50%;
  transition: 0.3s ease;
}
.menu-links a:hover {
  background-color: #b475e79a;
  backdrop-filter: blur(1px);
}

section .home-details {
  margin-top: rem;
  color: var(--text);
  font-size: 2rem;
  font-family: sans-serif;
}

.hassle {
  color: #ffee00;
}
.home-content {
  display: flex;
  flex-direction: column-reverse;
}
.home-content-details {
  max-width: 22rem;
  margin: auto;
}
.home-content-details .home-details {
  text-align: center;
}
.home-content-details .details {
  margin-top: 0.8rem;
  color: var(--text);
  font-weight: 500;
  font-family: sans-serif;
  font-size: 14px;
  text-align: center;
}

.home-img-container {
  position: relative;
  background-color: none;
  backdrop-filter: blur(10px);
  border-radius: 2rem;
  max-width: 22rem;
  margin: auto;
  margin-top: 3rem;
  height: 22.1rem;
}
.home-img-container .home-img {
  /* background: #f10303; */
  /* width: 100%;
  height: 100%; */
}
.home-img::after {
  content: "";
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to top, var(--accent) 20%, transparent);
}
.home-img-container .home-img img {
  width: 100%;
  height: 100%;
}
@media (min-width: 42rem) {
  header {
    padding: 0 6rem;
  }
}

@media (min-width: 1024px) {
  header {
    display: flex;
    background: 000;
    align-items: center;
    justify-content: space-between;

    font-family: sans-serif;
    padding: 0 5rem;
    font-size: var(--font-l);
    color: var(--text);
    min-height: 10vh;
  }

  header .logo-section .logo {
    font-size: 1.8rem;
  }
  header .hamburger-menu {
    display: none;
  }
  header .contact {
    display: block;
    background: var(--primary);
    padding: 0.5rem 1.5rem;
    border-radius: 0.3rem;
  }

  header .contact a {
    color: var(--secondary);
    font-weight: 550;
  }

  header .w-w-w {
    display: flex;
    gap: 2rem;
  }

  .home {
    color: var(--text);
    /* margin-top: -6rem; */
  }

  .home-content {
    max-width: 10204px;
    /* background: red; */
    margin: auto;
    /* background: red; */
  }

  .home .home-details {
    font-size: 2.3rem;
    line-height: rem;
    font-family: sans-serif;
  }
  .home-img::after {
    display: none;
  }
  .home p {
    text-align: left;
  }
  .home .home-details .home .home-details .hassle {
    color: var(--primary);
  }

  .home .home-content-details .details {
    width: 20rem;
    font-size: 16px;
    margin-top: 0.5rem;
  }

  .home .home-content {
    display: flex;
    width: 100%;
    margin-top: 12rem;
    flex-direction: row;
    justify-content: space-between;
  }
  .menu-links {
    display: none;
  }

  .home .home-content .home-img-container {
    position: relative;
    width: 28rem;
    height: 20rem;
    background-color: #9d47e25e;
    backdrop-filter: blur(10px);
    border-radius: 2rem;
    margin-right: 10rem;
    margin-top: 0;
  }
  .home .home-content .home-img-container .home-img {
    position: absolute;
    bottom: 0.2%;
    width: 25rem;
    height: 25rem;
  }
  .home .home-content .home-img-container .home-img img {
    width: 100%;
    height: 100%;
    /* z-index: 999; */
  }

  .home-img-content {
    position: absolute;
    top: 40%;
    right: 50%;
    width: 18rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* z-index: 999; */
  }

  .home-img-details {
    display: block;
    width: 100%;
    height: 21%;
    background: #f5f5f5e7;
    border-radius: 0.7rem;
    backdrop-filter: blur(20px);
    z-index: 0;
  }

  .home-img-details:nth-child(1),
  .home-img-details:nth-child(3) {
    margin-left: 4rem;
  }
}

@media (min-width: 72rem) {
  section {
    padding: 0 rem;
    background: red;
  }
  .home-content {
    background: green;
  }
  .home-content-details {
    margin: 0;
    padding: 0 5rem;
  }

  .home-content-details .home-details {
    font-size: 3.9rem;
    width: 50rem;
  }
  .home-img-content {
    position: absolute;
    top: 40%;
    right: 60%;
    width: 23rem;
    height: 16rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* z-index: 999; */
  }
  .home-img-container {
    animation: movable 2s forwards;
  }
  .home-content-details {
    animation: homeContent 1.5s forwards;
  }

  @keyframes movable {
    0% {
      transform: translateY(00%) scale(0);
      opacity: 0;
    }
    100% {
      transform: translateY(0%) scale(1);
      opacity: 1;
    }
  }
  @keyframes homeContent {
    0% {
      transform: translateY(00%) scale(0);
      opacity: 0;
    }
    100% {
      transform: translateY(0%) scale(1);
      opacity: 1;
    }
  }
}
